*$py.class
*.py.class
*/.DS_Store
.cache
.DS_Store
JREs/linux*
JREs/macosx*
JREs/windows*
ProcessingDotPyMode.jar
__pycache__
bin
build
build.out
cachedir
dist
dist.platforms
examples.pde
jython_processing_demo
kinetic-type/
line.pdf
modedist
processing-py.jar
python-hack.jar
runtime/generated/jycessing/*.java
runtime/src/.DS_Store
src.zip
test.py
testing/bin
zamples
