*$py.class
*.py.class
*/.DS_Store
.DS_Store
JREs/linux*
JREs/macosx*
JREs/windows*
__pycache__
bin
build
cachedir
dist
dist.platforms
examples.pde
jython_processing_demo
kinetic-type/
libraries/GSVideo
libraries/peasycam
line.pdf
processing-py.jar
python-hack.jar
runtime/generated/jycessing/*.java
runtime/src/.DS_Store
src.zip
test.py
testing/bin
zamples
