<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/processing.py/runtime/src/jycessing/mode/run/SketchRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="SKETCH_RUNNER_FIRST" value="true"/>
<mapEntry key="VERBOSE_PYTHON_MODE" value="true"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jycessing.mode.run.SketchRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="SKETCHRUNNER"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="processing.py"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dverbose=true"/>
<stringAttribute key="yk-options" value="&#10;additional-options2=onexit\=snapshot&#10;startup=12&#10;"/>
</launchConfiguration>
